.app nav {
    display: flex;
    justify-content: space-around;
}

.app > div {
    width: 80%;
    margin: auto;
}
.app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.SiteContent{
    flex: 1;
}