.Home {

}

.blonde {
    max-width: 100%;
}

.conteneur {
    position: relative;
}

.Message {
    position: absolute;
    top: 10%;
    left: 62%;
    color: white;

    font-family: Wooden;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

@font-face {
    font-family: Wooden;
    src: url('../../font/WoodenNickelNF.otf')
}