.MAP {
    margin: 2em;
}

.dialog-save > div > div {
    padding: 2em;
}

.dialog-save > div > div > button {
    margin-top: 1em;
}

.Profile > h3 {
    margin-left: 45%;
    margin-top: 2em;
    color: #1e5799;
    font-family: "Open Sans"
}
